/* -----------
    Body Style 
--------------- */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* -------------
    Header Style 
----------------*/
header{

    padding-top: 42px;
    padding-left: 156px;
    padding-right: 123px;
    padding-bottom: 86px;
    background-color: blue;
}
/* Navigation Bar */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-bar .fa-bars{
    display: none;
}
.nav-item{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    transition: 1s;
}

.nav-item:hover{
    background-color: #00428081;
}

.login a, .watch-live-buttton a, .highlights-title a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 1.5s;
    font-size: 16px;
}
.login, .watch-live-buttton, .watch-now-button {
    transition: transform 1s;
}
.login a:hover, .watch-live-buttton a:hover, .watch-now-button a:hover{
    background-color: tomato;
}
.login:hover{
    transform: scale(1.1);
}
.watch-live-buttton:hover, .watch-now-button:hover{
    transform: scale(1.1) translateX(10px);
}
.watch-live-buttton{
    margin-top: 70px;
}
/* Title Section */
.title-section{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}
.banner-image img{
    width: 556.01px;
    height: 438px;
}
.title{
    Width: 485px;
    Height: 230px;
    font-size: 64px;
    color: white;
}
/* Players Section */
.players-section{
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 1px 1px 10px 1px gray;
}
.player img{
    width: 300px;
    height: 256px;
}
.player h2{
    font-size: 28px;
    font-weight: 700;
}
.player p{
    font-size: 16px;
    font-weight: 400;
}
/* Highlights Section */
.highlights-section{
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
    padding-left: 182px;
    padding-right: 156px;
}
.highlights-title{
    width: 466px;
    height: 309px;
}
.highlights-title h1{
    width: 466px;
    height: 120px;
    font-size: 48px;
    font-weight: 700;
}
.highlights-banner img{
    width: 567px;
    height: 427px;
}
/* Gallery Section */
.gallery-section{
    padding: 50px;
}
.gallery-title{
    font-size: 30px;
    color: rgb(3, 86, 155);
}
.photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.photo{
    overflow: hidden;
}
.photos img {
    width: 470px;
    height: 360px;
    transition: transform 1.5s;
}
.photos img:hover{
    transform: scale(1.15);
    
}
/* Newsletter Subscription */

.newsletter-top h1{
    font-size: 36px;
}
.newsletter-top p{
    margin-top: -30px;
}
.newsletter-input{
    display: flex;
    justify-content: center;
}
#email{
    padding-left: 10px;
    height: 35px;
    width: 250px;
}
#email:focus{
    font-size: 16px;
    color: rgb(199, 5, 63);
}
.submit-button{
    margin-left: 10px;
    cursor: pointer;
    color: white;
    padding: 12px 33px;
    background-color: #e60045;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    transition: 1s;
}
.submit-button:hover{
    background-color: #8e04c4;
    transform: scale(1.1) ;
}
/* Footer Section */
.footer-section{
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #2b2b2b;
}

.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.social-media img{
    height: 32px;
    width: 32px;
}
.copyright p{
    color: white;
}
/* Responsive Style using Media Query */
/* Mobile Device */
@media only screen and (max-width: 688px) {
    /* Header */
    header{
        padding-top: 36px;
        padding-left: 16px;
        padding-right: 21px;
        padding-bottom: 86px;
    }
    /* Navigation Bar */
    /* আমাদের নেভিগেশন মেনুতে ক্লিক করলে রেসপন্স করার পদ্ধতি শেখানো হয়নি । গুগল সার্চ করে জানলাম এটি করার জন্য জাভাস্ক্রিপ্ট প্রয়োজন। যা এই এসাইনমেন্টে ব্যবহার করা নিষেধ। তাই মেনু আইকনে ক্লিক করলে মেনু অপশন দেখাতে পারিনি */
    .nav-item{
        display: none;
    }
    .navigation-bar .fa-bars{
        display: inline-block;
        color: white;
        font-size: 24px;
    }

    /* Title Section */
    .title-section{
        display: block;
    }
    .title{
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
    }
    .watch-live-buttton{
        margin-top: 30px;
    }
    .banner-image{
        margin-top: 50px;
    }
    .banner-image img{
        width: 329px;
        height: 259.17px;
    }
    /* Players Section */
    .players-section{
        margin-top: 47px;
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    /* Highlights Section */
    .highlights-section{
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 16px;
        display: block;
    }
    .highlights-title{
        width: 329px;
        height: 299px;
    }
    .highlights-title h1{
        font-size: 30px;
        width: 292px;
        height: 80px;
    }
    .watch-now-button{
        margin-top: 24px;
    }
    .highlights-banner img{
        margin-top: 29px;
        width: 328px;
        height: 248px;
    }
    /* Gallery Section */
    .gallery-section{
        padding: 15px;
    }
    .photos {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
    }
    .photos img {
        width: 370px;
        height: 260px;
    }
    /* Newsletter Section */
    .newsletter-top h1{
        font-size: 26px;
    }
    .newsletter-top p{
        font-size: 14px;
    }
    #email{
        padding-left: 10px;
        height: 35px;
        width: 200px;
    }
    /* Footer Section */
    .footer-section{
        padding-top: 54px;
        background-color: #2b2b2b;
    }
    
    .footer-logo img{
        width: 330px;
        height: 90px;
    }
}
/* For Tablet Device */
@media only screen and (min-width:689px) and (max-width:992px){
    header{
        padding-top: 36px;
        padding-left: 16px;
        padding-right: 21px;
        padding-bottom: 86px;
    }
    .nav-item{
        font-size: 14px;
        padding: 5px 10px;
    }

    /* Title Section */
    .title{
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
    }
    .watch-live-buttton{
        margin-top: 30px;
    }
    .banner-image{
        margin-top: 50px;
    }
    .banner-image img{
        width: 329px;
        height: 259.17px;
    }
    /* Players Section */
    .players-section{
        margin-top: 47px;
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(2, 1fr);
    }
    /* Highlights Section */
    .highlights-section{
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 16px;
    }
    .highlights-title{
        width: 329px;
        height: 299px;
    }
    .highlights-title h1{
        font-size: 30px;
        width: 292px;
        height: 80px;
    }
    .watch-now-button{
        margin-top: 24px;
    }
    .highlights-banner img{
        margin-top: 29px;
        width: 328px;
        height: 248px;
    }
       /* Gallery Section */
    .gallery-section{
        padding: 15px;
    }
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
    .photos img {
        width: 370px;
        height: 260px;
    }
        /* Footer Section */
    .footer-section{
        background-color: #2b2b2b;
        }
}